<p>
<h1>Profile</h1>
<div>
    Name: <%= @user.first_name %> <%= @user.last_name %> <br>
    Location: <%= @user.zip_code %><br>
    Birthdate: <%= @user.birthdate %> <br>
    Career Status: <%= @user.career_status %> DO SOME SORT OF ENUM HERE<br>
</div>
